# 프롤로그 시작

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=True).head(30)

artist
 04)]                                    1
jesus kommt aus bützow                   1
jesus revolution                         1
jesus serrano                            1
jesus the ghost                          1
jesus weed and the dirty seed of hate    1
jesus wore dickies                       1
jesus, fuck the sun                      1
jesusbride                               1
jesusburger                              1
jesusculture                             1
jeswa                                    1
jesè patuel                              1
jesús adrían romero                      1
jesús alejandro "el niño"                1
jesús alemañy                            1
jesús auñón                              1
jesús bienvenido                         1
jesus is dead                            1
jesús castro balbi                       1
jesus guridi                             1
jesus freaks                             1
jester & don martin                      1
jesters of destiny                       1
jesty beatz                              1
jesu (live)                              1
jesucristo superestrella                 1
jesus adrian                             1
jesus aint in poland                     1
jesus and mary chain                     1
Name: user_id, dtype: int64

In [9]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [10]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [11]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [12]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [13]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [14]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [15]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

In [134]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [17]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [18]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [19]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [20]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [21]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [22]:
zimin_vector

array([ 9.4670027e-01, -1.8813249e-01, -4.4347760e-01, -4.0071413e-01,
        1.9353102e-01,  7.2776461e-01, -3.9191371e-01, -1.5421016e-03,
        1.1427590e-01,  4.3659221e-02, -9.2563498e-01, -1.3215001e-01,
        7.2072321e-03, -1.4117241e+00, -7.9401962e-02, -5.4694861e-01,
       -7.3976028e-01, -2.6497135e-01,  1.5334341e-01,  9.8105021e-02,
       -2.6028976e-01, -3.6078569e-01, -4.7782072e-01,  6.1977286e-02,
        3.4150794e-01,  4.1336071e-02,  2.3631789e-02,  9.7101283e-01,
        1.4499922e+00, -1.8721277e-01, -5.7469356e-01,  3.0457702e-01,
       -8.7880743e-01,  6.5026718e-01, -9.1133542e-02, -9.3835926e-01,
        5.6298721e-01,  1.6464847e-01, -8.1514394e-01, -4.5083424e-01,
        2.3619817e-01,  9.7960383e-01, -1.1875149e+00, -2.7345350e-01,
        4.8196721e-01,  4.8215467e-01, -1.4910985e+00,  8.3512336e-01,
        4.7721681e-01,  5.8661437e-01,  1.4048012e+00, -5.8796769e-01,
        3.4997007e-01, -8.0749631e-01,  7.8313839e-01, -8.8592857e-01,
        2.5984558e-01,  2.2707660e-01,  1.1599856e-01,  1.1004146e+00,
        1.4721526e-01, -3.3596858e-01, -1.0188365e+00,  1.0274869e+00,
       -5.6382412e-01, -5.4539625e-02,  5.8420211e-01,  4.2237863e-02,
        1.2395177e+00, -4.2084506e-01, -9.8082632e-01, -9.7922468e-01,
       -6.3632691e-01, -1.0335579e+00, -7.4423730e-01,  1.3550417e-01,
       -5.6605291e-01,  4.7470427e-01,  7.3657411e-01,  1.1165724e+00,
        4.7112966e-01, -2.9555333e-01,  1.5806789e+00, -4.0450537e-01,
       -2.4309227e-01,  1.1272119e+00,  8.3055562e-01,  1.4346201e+00,
        3.2841939e-01,  4.0638763e-01, -2.8966117e-01, -5.0164703e-02,
       -1.3932672e-01,  9.5684212e-01, -5.4996067e-01,  1.1871805e+00,
        1.4970553e-01, -1.1647573e+00,  3.0586407e-01, -2.1215484e-02],
      dtype=float32)

In [23]:
black_eyed_peas_vector

array([ 0.01330429, -0.01859784,  0.00537511, -0.00625611,  0.0130047 ,
        0.01660733, -0.0032404 ,  0.00334636,  0.0112198 ,  0.00988847,
       -0.00454118, -0.0032946 , -0.01323222, -0.015271  , -0.01331909,
       -0.00014476, -0.00525018,  0.00280592,  0.01384516,  0.01129253,
        0.00475597,  0.0036053 ,  0.00312499,  0.02081266,  0.00191524,
        0.01604339,  0.00729764,  0.00743455,  0.014889  ,  0.01491999,
        0.00569513,  0.00831247, -0.00025221,  0.0036445 ,  0.00723586,
       -0.00187206,  0.01211316,  0.00416808, -0.01490904,  0.00804579,
        0.0230666 ,  0.01486556,  0.00174956,  0.00883691,  0.0093029 ,
        0.01658809, -0.00717287,  0.01198402,  0.01783107,  0.0117352 ,
        0.01842422, -0.01545784,  0.00849654, -0.01358616,  0.01433514,
       -0.00683712,  0.00034202,  0.02175925,  0.00878915,  0.01460487,
        0.01259509,  0.00098341, -0.00489394,  0.01383928, -0.0029455 ,
        0.00956209,  0.02763119,  0.00486902,  0.01847508, -0.00174718,
       -0.00750812, -0.00588632,  0.00758772, -0.01844058, -0.00892835,
        0.00109391,  0.01161103,  0.00843848,  0.02129666,  0.02437979,
       -0.00663066,  0.01547651,  0.02686302,  0.0056059 ,  0.01291572,
        0.02520985,  0.01857547,  0.02418964,  0.01879464,  0.00476318,
        0.0055834 ,  0.02076053,  0.00938858,  0.00103925, -0.00703385,
        0.01742695,  0.00608669,  0.00605461,  0.01535047,  0.01150055],
      dtype=float32)

In [24]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.53581923

In [25]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.31813926

In [26]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.986975),
 (28, 0.9799218),
 (5, 0.9786062),
 (473, 0.9716973),
 (247, 0.96696734),
 (217, 0.96686685),
 (490, 0.9600098),
 (418, 0.95633686),
 (694, 0.948567),
 (910, 0.9484117),
 (782, 0.94836956),
 (268, 0.94680846),
 (1018, 0.945759),
 (55, 0.9420225)]

In [27]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'placebo',
 'the beatles',
 'radiohead',
 'oasis',
 'u2',
 'foo fighters',
 'nirvana',
 'the white stripes',
 'pink floyd',
 'the smashing pumpkins',
 'arctic monkeys']

In [29]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [30]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'dr. dre',
 'the game',
 'snoop dogg',
 '50 cent',
 'nas',
 'jay-z',
 't.i.',
 'lil wayne']

In [31]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'katy perry',
 'rihanna',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'justin timberlake',
 'kelly clarkson',
 'nelly furtado']

In [32]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.45807654),
 (550, 0.44567275),
 (369, 0.43620276),
 (1800, 0.4256663),
 (627, 0.4130769),
 (354, 0.40598223),
 (2249, 0.4050261),
 (391, 0.40192652),
 (355, 0.3950493),
 (409, 0.3925021),
 (618, 0.38201413),
 (5555, 0.37899363),
 (2902, 0.3770125),
 (901, 0.37452552),
 (382, 0.3732414),
 (358, 0.36874837),
 (724, 0.36806825),
 (564, 0.3627566),
 (247, 0.35619769),
 (24, 0.3543759)]

In [33]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'britney spears',
 'justin timberlake',
 'lady gaga',
 'maroon 5',
 'nelly furtado',
 'katy perry',
 'christina aguilera',
 'madonna',
 'amy winehouse',
 'the pussycat dolls',
 'timbaland',
 'james blunt',
 'pink',
 'mika',
 'kelly clarkson',
 'lily allen',
 'kanye west',
 'the beatles',
 'jack johnson']

In [34]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [36]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.22660056342235463),
 ('black eyed peas', 0.15056714007764269),
 ('coldplay', 0.041342803820114744),
 ('jason mraz', 0.041177207599023526),
 ('maroon5', 7.083548197438452e-05)]

# 가즈아~~

In [117]:
import numpy as np
import scipy
import implicit
import pandas as pd
import os

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.21.4
1.7.1
0.4.8

In [118]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [119]:
ratings

         user_id  movie_id  ratings  timestamp
0              1      1193        5  978300760
1              1       661        3  978302109
2              1       914        3  978301968
3              1      3408        4  978300275
4              1      2355        5  978824291
...          ...       ...      ...        ...
1000204     6040      1091        1  956716541
1000205     6040      1094        5  956704887
1000206     6040       562        5  956704746
1000207     6040      1096        4  956715648
1000208     6040      1097        4  956715569

[1000209 rows x 4 columns]

In [108]:
ratings['movie_id'].nunique()

3706

In [109]:
condition = (ratings['user_id']== ratings.loc[0, 'user_id'])
ratings.loc[condition]

    user_id  movie_id  ratings  timestamp
0         1      1193        5  978300760
1         1       661        3  978302109
2         1       914        3  978301968
3         1      3408        4  978300275
4         1      2355        5  978824291
5         1      1197        3  978302268
6         1      1287        5  978302039
7         1      2804        5  978300719
8         1       594        4  978302268
9         1       919        4  978301368
10        1       595        5  978824268
11        1       938        4  978301752
12        1      2398        4  978302281
13        1      2918        4  978302124
14        1      1035        5  978301753
15        1      2791        4  978302188
16        1      2687        3  978824268
17        1      2018        4  978301777
18        1      3105        5  978301713
19        1      2797        4  978302039
20        1      2321        3  978302205
21        1       720        3  978300760
22        1      1270        5  978300055
23        1       527        5  978824195
24        1      2340        3  978300103
25        1        48        5  978824351
26        1      1097        4  978301953
27        1      1721        4  978300055
28        1      1545        4  978824139
29        1       745        3  978824268
30        1      2294        4  978824291
31        1      3186        4  978300019
32        1      1566        4  978824330
33        1       588        4  978824268
34        1      1907        4  978824330
35        1       783        4  978824291
36        1      1836        5  978300172
37        1      1022        5  978300055
38        1      2762        4  978302091
39        1       150        5  978301777
40        1         1        5  978824268
41        1      1961        5  978301590
42        1      1962        4  978301753
43        1      2692        4  978301570
44        1       260        4  978300760
45        1      1028        5  978301777
46        1      1029        5  978302205
47        1      1207        4  978300719
48        1      2028        5  978301619
49        1       531        4  978302149
50        1      3114        4  978302174
51        1       608        4  978301398
52        1      1246        4  978302091

In [55]:
ratings['timestamp'].describe()

count    1.000209e+06
mean     9.722437e+08
std      1.215256e+07
min      9.567039e+08
25%      9.653026e+08
50%      9.730180e+08
75%      9.752209e+08
max      1.046455e+09
Name: timestamp, dtype: float64

In [57]:
ratings['timestamp'].max()

1046454590

In [120]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [121]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

/opt/conda/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [112]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [113]:
ratings

         user_id  movie_id  counts  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000203     6040      1090       3  956715518
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[836478 rows x 4 columns]

In [61]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [62]:
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [95]:
movies[movies['genre'].str.contains('Comedy')]

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance
...,...,...,...
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3878,3948,Meet the Parents (2000),Comedy

In [70]:
ratings['user_id'].nunique()

6039

In [69]:
ratings['movie_id'].nunique()

3628

In [74]:
# 인기 많은 아티스트
movie_count = ratings.groupby('movie_id')['user_id'].count()
movie_count.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: user_id, dtype: int64

In [77]:
ratings.groupby('user_id').count()

         movie_id  counts  timestamp
user_id
1              53      53         53
2             116     116        116
3              46      46         46
4              19      19         19
5             143     143        143
...           ...     ...        ...
6036          708     708        708
6037          189     189        189
6038           18      18         18
6039          119     119        119
6040          276     276        276

[6039 rows x 3 columns]

In [81]:
user_count = ratings.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [122]:
ratings = ratings[['user_id', 'movie_id', 'counts']]

In [123]:
ratings

         user_id  movie_id  counts
0              1      1193       5
1              1       661       3
2              1       914       3
3              1      3408       4
4              1      2355       5
...          ...       ...     ...
1000203     6040      1090       3
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4

[836478 rows x 3 columns]

In [89]:
type(ratings['user_id'][0])

numpy.int64

In [124]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = [1 ,3 ,4 ,5 ,7]

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_movielist = pd.DataFrame({'user_id': [6041]*5, 'movie_id': my_favorite, 'counts':[4]*5})

if not ratings.isin({'user_id':[6041]})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_movielist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

ratings.tail(10)       # 잘 추가되었는지 확인해 봅시다.

         user_id  movie_id  counts
1000203     6040      1090       3
1000205     6040      1094       5
1000206     6040       562       5
1000207     6040      1096       4
1000208     6040      1097       4
0           6041         1       4
1           6041         3       4
2           6041         4       4
3           6041         5       4
4           6041         7       4

In [125]:
ratings

    user_id  movie_id  counts
0         1      1193       5
1         1       661       3
2         1       914       3
3         1      3408       4
4         1      2355       5
..      ...       ...     ...
0      6041         1       4
1      6041         3       4
2      6041         4       4
3      6041         5       4
4      6041         7       4

[836483 rows x 3 columns]

# csr matrix

In [132]:
print(num_user, num_movie)

6040 3628

In [142]:
ratings.user_id

0       1
1       1
2       1
3       1
4       1
     ...
0    6041
1    6041
2    6041
3    6041
4    6041
Name: user_id, Length: 836483, dtype: int64

In [144]:
ratings.movie_id

0    1193
1     661
2     914
3    3408
4    2355
     ...
0       1
1       3
2       4
3       5
4       7
Name: movie_id, Length: 836483, dtype: int64

In [143]:
ratings.counts

0    5
1    3
2    3
3    4
4    5
    ..
0    4
1    4
2    4
3    4
4    4
Name: counts, Length: 836483, dtype: int64

In [149]:
print(num_user, num_movie)

6041 3629

In [150]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

In [155]:
csr_data = csr_matrix((ratings.counts, (ratings.user_id, ratings.movie_id)))
csr_data

<6042x3953 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

# als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련

In [157]:
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

# 1차시도

In [210]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

# 3차시도

In [180]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=200, regularization=0.0001, use_gpu=False, iterations=100, dtype=np.float32)

# 4차시도

In [216]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=200, regularization=0.01, use_gpu=False, iterations=100, dtype=np.float32)

# 5차시도

In [222]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=200, regularization=0.01, use_gpu=False, iterations=400, dtype=np.float32)

# 6차시도

In [228]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=200, regularization=0.1, use_gpu=False, iterations=400, dtype=np.float32)

# 7차시도

In [234]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=400, regularization=0.1, use_gpu=False, iterations=400, dtype=np.float32)

In [159]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3953x6042 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [181]:
csr_data_transpose

<3953x6042 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [235]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/400 [00:00<?, ?it/s]

# 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 

# 예측한 나의 선호도를 파악

In [161]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

In [169]:
user_unique[6039]

6041

In [204]:
temp = np.sort(movie_unique)

In [205]:
temp[0]

1

In [236]:
id_6041, toy_story = user_unique[6039], temp[0]
id_6041_vector, toy_story_vector = als_model.user_factors[id_6041], als_model.item_factors[toy_story]

print('슝=3')

슝=3

In [237]:
id_6041_vector

array([-0.02182892,  0.00408357,  0.00279752,  0.06824622,  0.03761285,
       -0.03865121, -0.02098199, -0.0280169 ,  0.02704011, -0.03291672,
       -0.04382119,  0.00969549,  0.04559047, -0.00984445, -0.01049631,
        0.03445777,  0.02695768,  0.04265641,  0.00899494,  0.04803579,
        0.02930423, -0.00871927,  0.01609636, -0.00643919,  0.02999393,
        0.0398026 , -0.04799691,  0.00108233, -0.01076212, -0.01695331,
        0.0043271 , -0.01407548,  0.00779465, -0.02951921, -0.06101124,
       -0.01390566, -0.01029745,  0.01287773,  0.0382376 , -0.02280821,
       -0.01298305,  0.04707959, -0.00336496,  0.04027937,  0.02600937,
       -0.06174798,  0.03106003, -0.00258074,  0.0205878 ,  0.05625372,
       -0.03377781,  0.01374722, -0.02142356, -0.01707652,  0.01812236,
       -0.05983948, -0.00914199,  0.00312099, -0.02792454,  0.01512252,
       -0.03119686,  0.03113217,  0.02775689,  0.00545637, -0.00858372,
        0.02888004, -0.0039219 , -0.0281691 ,  0.00046721, -0.03829551,
        0.01819956,  0.00719184, -0.03835517, -0.01005173,  0.00222348,
        0.01652702,  0.04230708,  0.0104395 , -0.00790315,  0.02217067,
       -0.047067  , -0.01840714,  0.00890752, -0.00095496, -0.06732463,
        0.00444087, -0.022054  ,  0.06273494, -0.00187331, -0.01150463,
        0.07724697, -0.01323313,  0.01568502, -0.00663489, -0.02309271,
       -0.01134128, -0.01375972,  0.00552097, -0.00347055, -0.00762414,
        0.02258657, -0.00518348,  0.03125353,  0.02531426,  0.02598024,
       -0.02269658,  0.02644814,  0.00055387, -0.02897749, -0.01959895,
        0.01274654,  0.01001387,  0.06030085, -0.03934673,  0.00355619,
       -0.04083704,  0.01276133, -0.02073417,  0.00664207,  0.03508823,
       -0.02524418, -0.0169408 , -0.01807252, -0.00517331, -0.00039444,
       -0.02493071, -0.02972493, -0.00577647,  0.00865512, -0.07956376,
       -0.02998039, -0.02585964,  0.01274579, -0.02015096,  0.00739535,
       -0.04663315,  0.0076423 ,  0.03599893, -0.02321814, -0.01291463,
        0.00094627, -0.04839528, -0.01504879, -0.05296441, -0.01095275,
       -0.00294066,  0.0118137 , -0.02433843,  0.00735298, -0.02430292,
        0.04753976,  0.00044593,  0.00407225, -0.00752868, -0.03329176,
       -0.02045233,  0.02987778,  0.00996132,  0.03480764, -0.02655661,
        0.0504026 ,  0.00321055,  0.01242416, -0.01052935,  0.00904669,
        0.01239822,  0.03318116, -0.01307976,  0.00406016,  0.00211393,
        0.00063207, -0.02384542, -0.00310164,  0.03285655,  0.00452523,
        0.04183668, -0.03824682,  0.02085791,  0.0402001 , -0.00905943,
        0.01324247,  0.01466138, -0.02957867, -0.02926008, -0.00069599,
        0.01374199, -0.02852651, -0.01779971, -0.03649571,  0.05239496,
        0.00630798,  0.02474047,  0.05684143, -0.03402548,  0.02160109,
        0.01734722, -0.01555293,  0.02814418, -0.03576504, -0.0381382 ,
        0.01823814,  0.00569081, -0.04792835, -0.02603612, -0.02892496,
        0.03944449,  0.00822235, -0.01734014, -0.04123837, -0.01876587,
        0.02501789, -0.05066438,  0.03425094, -0.0247344 ,  0.03484846,
       -0.00499954, -0.01801009,  0.03221669, -0.01968257,  0.00716528,
        0.00953482,  0.04628455, -0.05694821,  0.00188705, -0.04799819,
        0.01027387, -0.02630369, -0.0440829 ,  0.05282138,  0.04779508,
        0.04318077,  0.00055627,  0.00429283,  0.04415623,  0.0482756 ,
       -0.00378857, -0.02508491, -0.00725769, -0.00914353,  0.01843367,
       -0.04363112,  0.04324054,  0.00595903, -0.02028279, -0.01643234,
       -0.00576763,  0.02133045,  0.01078191,  0.01718043,  0.01847685,
       -0.06216137,  0.01705927,  0.02503671,  0.00284242, -0.04551511,
       -0.0383069 , -0.01976147,  0.01256083,  0.02363417,  0.01194088,
       -0.03424473, -0.03270693, -0.005134  ,  0.01833576,  0.0297663 ,
       -0.0232092 ,  0.01016859, -0.03196764,  0.02394361,  0.04434242,
       -0.00584913,  0.01583178,  0.03716478,  0.00462588,  0.05731569,
       -0.06346234, -0.01071432, -0.0104014 ,  0.00610701, -0.01203064,
        0.00563406, -0.00899497,  0.00225991, -0.01277814,  0.01121092,
       -0.02334828, -0.02787698, -0.01598699, -0.00402903,  0.01150407,
       -0.02305043, -0.00097811,  0.01244303, -0.009839  , -0.02237476,
       -0.01687252,  0.01541944, -0.01141044, -0.02278996,  0.0017556 ,
        0.0553586 ,  0.03010489, -0.02821049, -0.01708478,  0.00032148,
        0.02714767,  0.01975022,  0.03711418,  0.02319639,  0.00911229,
       -0.02156417,  0.02926205, -0.02324057,  0.00630154, -0.04922334,
        0.00684787,  0.02486604, -0.03379162, -0.02155825,  0.06348198,
       -0.02730768, -0.01277169,  0.02175827, -0.00046754,  0.02264752,
       -0.00411237,  0.00599199, -0.06044833,  0.01678385,  0.00311698,
        0.00279769, -0.05050936,  0.05670944,  0.0120851 ,  0.04715338,
       -0.01546197,  0.02403379, -0.0407776 , -0.08603223, -0.02214001,
        0.01634786, -0.00296338,  0.00980927,  0.00709171,  0.01179642,
       -0.01916035,  0.02804559,  0.00933355,  0.00400103,  0.02961341,
        0.04522135, -0.05632885, -0.01618388,  0.04944997,  0.00688225,
        0.01271945,  0.01548097,  0.04819166,  0.00383365,  0.03607863,
        0.02820821,  0.00499668,  0.02774417,  0.05609298, -0.00845843,
        0.03792924, -0.01902974,  0.02466577,  0.007519  ,  0.03686076,
        0.00293839, -0.0026662 , -0.02383089,  0.01634907,  0.00460664,
        0.04699863, -0.01163186,  0.0426489 , -0.00185737, -0.00775218,
       -0.00106226,  0.05172533,  0.0089881 , -0.02032852, -0.00094713,
       -0.00614382,  0.01960642, -0.00822448, -0.01056949, -0.00370664,
        0.00696583, -0.00568436,  0.02968244,  0.02593116,  0.01687244,
        0.00285658, -0.0402349 , -0.02797008,  0.00129374,  0.02083985],
      dtype=float32)

In [238]:
toy_story_vector

array([-3.39579843e-02,  1.11937173e-01,  3.92567329e-02,  1.40831560e-01,
       -2.75304243e-02, -1.27509192e-01, -2.20666811e-01, -4.33473755e-03,
        2.24127516e-01, -1.79101065e-01, -1.54149577e-01,  3.92609183e-03,
        2.10651293e-01,  1.91974685e-01, -1.99122682e-01,  2.69458383e-01,
        3.30531783e-02,  9.90337431e-02,  1.84330776e-01,  4.90994416e-02,
        9.32798386e-02,  3.20838280e-02, -1.98257729e-01, -5.48112728e-02,
       -1.57234937e-01,  1.80668905e-01, -2.14398265e-01, -1.19115002e-01,
       -4.71392348e-02, -1.19813390e-01, -1.95020914e-01,  1.95493996e-01,
       -2.18769573e-02,  2.01886758e-01, -4.33414608e-01, -2.39319980e-01,
        6.82919919e-02,  2.82942981e-01,  4.30752069e-01, -4.25616875e-02,
       -3.86430882e-02,  3.57296541e-02, -8.75055343e-02,  1.78696349e-01,
       -8.59468710e-03, -1.31907035e-02, -9.54549834e-02, -1.63561124e-02,
       -9.81450547e-03, -1.01139180e-01, -1.31387770e-01,  3.24802920e-02,
       -9.79207531e-02, -6.48849159e-02,  2.81750746e-02, -1.74083248e-01,
       -2.13801749e-02, -2.88065299e-02,  1.56894162e-01,  3.18918407e-01,
        1.67288318e-01, -5.03242984e-02,  1.59604177e-01,  1.14059255e-01,
        6.35751411e-02, -8.38493779e-02, -5.11353090e-02, -2.01099008e-01,
       -1.84346467e-01, -4.04703729e-02,  1.61116377e-01, -9.44605172e-02,
       -1.37936965e-01, -4.05544974e-02,  1.55762732e-01, -1.46211654e-01,
        8.05909187e-02,  1.70997068e-01, -3.37765105e-02, -1.44873429e-02,
        1.54429480e-01, -1.26617014e-01, -1.12477645e-01,  2.73534656e-01,
       -3.42282861e-01,  3.23726945e-02, -2.13341832e-01,  3.26763421e-01,
       -3.81961390e-02, -2.55987197e-01,  1.57748550e-01,  1.08403474e-01,
        1.29960835e-01, -1.87718764e-01, -1.80499077e-01,  6.23829775e-02,
       -3.11574012e-01,  1.85682133e-01, -2.93224007e-01, -2.47427702e-01,
        1.82919770e-01, -8.89977738e-02,  1.33601040e-01,  1.50614113e-01,
       -4.00537811e-02, -5.23023494e-02,  2.15577349e-01,  2.47650836e-02,
       -1.21266037e-01,  1.22319221e-01, -2.51959194e-03, -4.46039997e-02,
       -5.35348319e-02, -4.47210558e-02,  3.76721621e-02, -8.96689221e-02,
       -2.25608628e-02, -5.04820235e-02, -1.31918341e-01,  3.26729238e-01,
       -9.11173895e-02, -1.04888722e-01,  9.02789906e-02,  4.67101410e-02,
        1.54383272e-01,  1.26840964e-01, -7.22816363e-02,  2.00301334e-01,
       -2.66886652e-01, -2.48378843e-01, -1.13829516e-01,  1.87058613e-01,
        1.46763593e-01,  8.42884462e-03, -1.59633726e-01, -1.41245320e-01,
       -6.48051947e-02,  1.08148262e-01, -3.17809135e-01,  2.17982680e-02,
       -1.06131755e-01, -1.27604213e-02, -1.60800844e-01, -4.46260810e-01,
        3.13539878e-02, -9.51243266e-02, -7.19439387e-02, -2.10409045e-01,
        1.23540372e-01, -1.75786093e-02,  5.57937734e-02, -1.44336611e-01,
       -1.18850574e-01, -2.75843143e-01, -1.18189648e-01,  3.20646316e-01,
        8.66087303e-02, -7.37156570e-02, -2.68827558e-01, -3.29564288e-02,
        8.11336413e-02, -8.03189278e-02, -7.75554329e-02, -9.76593569e-02,
        2.56867200e-01,  1.96003020e-01,  7.35143200e-02, -1.65761987e-04,
        1.34677455e-01, -1.66379884e-01, -1.77991018e-01, -1.44007131e-02,
        3.34994607e-02, -2.00888813e-01, -7.25424662e-02,  2.40817755e-01,
       -3.49403113e-01,  1.03962243e-01,  2.84791708e-01, -5.12491800e-02,
        1.55477807e-01,  1.74673676e-01, -5.08450232e-02, -1.16720617e-01,
       -2.44031046e-02, -2.22092718e-01,  1.38707578e-01,  5.84079958e-02,
       -3.42297882e-01,  9.57294703e-02,  4.64107573e-01, -9.91600305e-02,
        2.84934849e-01, -2.12233096e-01, -1.24888025e-01,  7.89234266e-02,
       -2.43792161e-01,  1.68411598e-01, -2.63019353e-01, -2.67158784e-02,
        2.75303666e-02, -1.11354843e-01,  3.55205610e-02, -2.92012841e-01,
       -1.23062260e-01, -2.13626530e-02,  2.09762543e-01, -1.51884735e-01,
       -2.65046149e-01, -8.90842155e-02,  1.39389886e-02, -1.75301462e-01,
        3.68456930e-01, -1.28584683e-01, -1.64153357e-03, -1.50629431e-01,
       -1.99588805e-01,  3.51651043e-01,  1.60174280e-01,  5.55869639e-02,
       -7.77394623e-02,  9.84481275e-02, -1.52286470e-01, -1.90172076e-01,
       -2.74493456e-01, -7.91257024e-02, -2.97489107e-01, -2.31177226e-01,
        2.92384565e-01,  1.99136883e-01,  5.79067096e-02, -4.39292490e-02,
       -1.69534013e-01,  5.45413159e-02,  2.14380100e-01, -4.22262251e-02,
       -1.42561793e-01, -2.76423246e-01, -8.56242422e-03,  5.34515530e-02,
       -2.04250321e-01,  2.31249049e-01,  1.77370578e-01, -2.58991569e-01,
       -1.07813269e-01,  5.41870929e-02,  2.07686588e-01,  3.19592744e-01,
       -2.68857069e-02,  2.66570240e-01, -2.44360045e-01,  7.03653544e-02,
       -4.71174046e-02, -2.93435246e-01, -1.82828888e-01,  4.28691506e-02,
        2.15698794e-01, -2.00753044e-02,  7.17243031e-02, -3.19550157e-01,
       -2.68305004e-01,  8.21826421e-03, -3.63987595e-01, -3.85516956e-02,
       -2.22851969e-02,  3.17904465e-02, -1.75128311e-01, -1.82782963e-01,
        2.40486283e-02,  2.88314760e-01,  6.40254393e-02,  1.84232607e-01,
        5.58915921e-02, -1.22750938e-01,  4.63082194e-01, -3.31283152e-01,
       -7.74326399e-02,  1.43413782e-01,  1.66303478e-02,  1.67556584e-01,
       -7.60401636e-02, -9.48575959e-02,  1.03124253e-01, -2.79616922e-01,
        9.75525975e-02, -5.17876856e-02, -1.68645401e-02, -6.69469312e-02,
       -7.96432374e-04, -7.07987174e-02, -1.10397093e-01,  5.18968888e-02,
       -4.43999507e-02, -2.25597128e-01,  2.28173777e-01, -3.12498547e-02,
        2.59925122e-03, -2.61684299e-01,  8.01698938e-02,  2.02314645e-01,
       -3.97851355e-02,  6.52501658e-02, -6.40871301e-02, -4.96816449e-02,
        1.39234737e-01,  1.24033995e-01,  8.41300786e-02,  1.64585173e-01,
        1.33819744e-01,  7.79427812e-02, -2.41236433e-01,  1.97434708e-01,
       -3.19840312e-02,  5.85765466e-02,  7.70417005e-02,  1.52108058e-01,
       -5.41425869e-02, -1.46874890e-01, -1.98668078e-01,  1.17848292e-01,
        1.43083453e-01,  1.52119994e-01,  1.27208671e-02, -1.63112164e-01,
        1.12014813e-02, -2.38318760e-02, -4.77732606e-02, -2.19229758e-01,
       -1.65426075e-01,  1.42097518e-01, -1.81025535e-01,  1.74951330e-02,
        1.36471659e-01,  7.20401928e-02,  1.20054990e-01, -6.83574378e-02,
        1.75392017e-01, -1.34750232e-01, -7.17898831e-02,  3.16484310e-02,
       -1.93439677e-01, -9.35932770e-02,  9.99872237e-02, -2.28414647e-02,
        6.38455376e-02, -2.19921470e-01,  9.63706449e-02,  2.41676390e-01,
       -5.79817221e-02,  1.43474251e-01,  8.54895264e-02, -1.07592456e-01,
       -1.52745679e-01,  2.34471411e-01,  9.01319906e-02, -1.19890040e-02,
       -1.27023906e-02,  5.56113608e-02, -8.49777162e-02, -1.16010757e-04,
        3.92446965e-02,  6.38210475e-02,  3.28206681e-02, -8.06335211e-02,
        1.08049810e-02,  6.26102686e-02,  6.70909807e-02, -5.43661229e-03,
        5.38520049e-03,  3.33597362e-01, -1.76586732e-01, -7.39259422e-02,
        1.56038165e-01,  1.33973196e-01,  2.17769835e-02,  1.48316370e-02,
       -2.17273533e-01,  6.86426237e-02, -1.86119467e-01,  2.07590550e-01,
       -1.23269437e-02,  3.27333927e-01,  3.69826294e-02, -7.00392798e-02,
       -1.70922596e-02,  1.28158405e-01,  2.00055614e-01, -1.43698603e-01,
       -7.72136450e-02, -4.13150452e-02, -1.96885288e-01,  1.11443751e-01,
       -1.56330213e-01,  2.78474577e-02, -6.05780445e-02, -2.07299516e-01,
       -1.07957035e-01, -1.20368153e-01, -1.67755425e-01,  2.64099807e-01],
      dtype=float32)

# 1차 시도

In [215]:
np.dot(id_6041_vector, toy_story_vector)

0.39776388

# 2차 시도

In [179]:
np.dot(id_6041_vector, toy_story_vector)

0.061348677

# 3차 시도

In [209]:
np.dot(id_6041_vector, toy_story_vector)

0.6234564

# 4차시도

In [221]:
np.dot(id_6041_vector, toy_story_vector)

0.62373483

# 5차시도

In [227]:
np.dot(id_6041_vector, toy_story_vector)

0.6216791

# 6차시도

In [233]:
np.dot(id_6041_vector, toy_story_vector)

0.6152187

# 7차시도

In [239]:
np.dot(id_6041_vector, toy_story_vector)

0.87125164

# 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [253]:
favorite_movie = 4
movie_id = temp[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)

In [254]:
similar_movie

[(5, 0.9999999),
 (186, 0.3017596),
 (2082, 0.27693194),
 (2953, 0.25092912),
 (3248, 0.24927746),
 (432, 0.24907476),
 (4, 0.24505515),
 (830, 0.23634352),
 (1005, 0.22779436),
 (355, 0.20933102),
 (2265, 0.20658574),
 (415, 0.20233496),
 (656, 0.20155522),
 (1888, 0.1923623),
 (195, 0.19023676)]

In [256]:
user = user_unique[6039]
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(3450, 0.38940343),
 (2424, 0.20946833),
 (186, 0.19454212),
 (3114, 0.18053497),
 (830, 0.16842037),
 (1353, 0.16815805),
 (236, 0.15011996),
 (2082, 0.14478962),
 (141, 0.14175591),
 (500, 0.13951321),
 (2278, 0.1390171),
 (457, 0.13217054),
 (2355, 0.12944242),
 (3259, 0.12770584),
 (524, 0.1275171),
 (276, 0.1272019),
 (588, 0.124631),
 (3248, 0.1219075),
 (252, 0.12113713),
 (736, 0.12024808)]

In [288]:
len(movie_recommended)

20

In [290]:
a = []
for i in range(20):
    a.append(movie_recommended[i][0])

In [291]:
a

[3450,
 2424,
 186,
 3114,
 830,
 1353,
 236,
 2082,
 141,
 500,
 2278,
 457,
 2355,
 3259,
 524,
 276,
 588,
 3248,
 252,
 736]

In [293]:
movies.loc[0]['title']

'Toy Story (1995)'

In [294]:
[movies.loc[i]['title'] for i in a]

['Force 10 from Navarone (1978)',
 'Harmonists, The (1997)',
 'Prophecy, The (1995)',
 'Third Miracle, The (1999)',
 'Eyes Without a Face (1959)',
 'Star Trek: The Wrath of Khan (1982)',
 'Goofy Movie, A (1995)',
 'Gods Must Be Crazy II, The (1989)',
 'Gospa (1995)',
 'No Escape (1994)',
 'Pope of Greenwich Village, The (1984)',
 'Go Fish (1994)',
 "You've Got Mail (1998)",
 'Ghost Dog: The Way of the Samurai (1999)',
 'Scout, The (1994)',
 'My Family (1995)',
 'Batman (1989)',
 'Wonder Boys (2000)',
 'Jerky Boys, The (1994)',
 'Force of Evil (1948)']

# 영화를 추천받았는데 대부분 오래된 영화라서 잘 모르겠다.....